* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  color: #444;
  transition: all .4s .3s ease-in; }

body {
  background: #1c2a39;
  background: -webkit-linear-gradient(to bottom, #1c2a39, #35567F);
  background: linear-gradient(to bottom, #1c2a39, #35567F);
  font-family: "Arial", "Sans-serif"; }

.container {
  width: 960px;
  background-color: #0c2745;
  margin: 0 auto;
  padding: 0; }

h3 {
  color: #d4740d; }

h4 {
  margin-top: 10px; }

.header {
  position: relative;
  background-color: #0c2745;
  height: 55px;
      /*===============================
=            Top Nav            =
===============================*/ }
  .header .mainbhs-logo {
    position: absolute;
    z-index: 2; }
  .header .top-nav {
    position: absolute;
    top: 15px;
    left: 125px;
    font-size: 14px; }
  .header .top-nav li {
    display: inline;
    padding-left: 3px; }
  .header .top-nav li::before {
    content: "|";
    padding-right: 5px;
    padding-left: 5px; }
  .header .top-nav li:first-child:before {
    content: " "; }
  .header .top-nav a {
    text-decoration: none;
    color: #ffffff; }
  .header .search-container {
    top: 9px; }

.btn-primary {
  color: #fff;
  background-color: #35567F;
  border-color: #35567F; }

.btn-warning {
  color: #fff;
  background-color: #d4740d;
  border-color: #d4740d; }

.nav {
  position: relative; }
  .nav .navi-bar {
    position: absolute;
    background-color: #666666;
    width: 960px;
    height: 90px;
    z-index: 1px; }
  .nav .nav-bar {
    background: #ECE9E6;
    background: -webkit-linear-gradient(to bottom, #eceeef, #e0e1e4);
    background: linear-gradient(to bottom, #eceeef, #e0e1e4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto 0;
    height: 60%;
    padding-top: 13px;
    padding-left: 145px; }
  .nav .nav-bar li {
    font-size: 16px;
    text-align: center;
    display: inline;
    text-decoration: none; }
  .nav .nav-bar li::before {
    content: "|";
    padding-right: 5px; }
  .nav .nav-bar li a {
    background: #e0e1e4, 0;
    display: inline-block;
    padding: 0px 16px; }
  .nav .nav-bar li a:hover {
    color: rgba(212, 116, 13, 0.3);
    font-size: 18px; }

.main-container {
  padding-top: 90px;
  background-color: #eceeef; }
  .main-container .content-container {
    right: 15px;
    background-color: #8e9eab;
    background: -webkit-linear-gradient(to bottom, #cdcfd2, #eceeef);
    background: linear-gradient(to bottom, #cdcfd2, #eceeef); }
    .main-container .content-container .breadcrumb {
      background: rgba(128, 128, 128, 0); }

.secondary-container {
  background: #eceeef; }

.side-nav {
  background-color: #ffffff; }

.get-inv-header {
  color: #d4740d; }

.gi-box {
  background: #e0e1e4;
  padding: 10px;
  margin: 10px;
  border: 1px solid #666666; }
  .gi-box img {
    float: left; }
  .gi-box p {
    font-size: .7rem;
    float: right;
    width: 60%; }

.ss-box {
  background: #e0e1e4;
  padding: 10px;
  margin: 10px;
  border: 1px solid #666666; }
  .ss-box img {
    float: left; }
  .ss-box p {
    font-size: .7rem;
    float: right;
    width: 60%; }

.footer {
  width: 960px;
  color: #666666; }
  .footer div {
    float: left;
    width: 25%;
    padding-left: 15px; }
    .footer div h4 {
      font-size: 1.19rem;
      background-color: #091f37;
      height: 40px;
      line-height: 40px;
      color: #fbfbfb;
      white-space: nowrap;
      width: 200px;
      text-align: center;
      font-weight: normal; }
    .footer div.logos-footer {
      margin-top: 40px;
      margin-left: 15px; }
      .footer div.logos-footer img {
        left: 10px; }

.copyright {
  color: #ffffff;
  font-size: .5rem;
  text-align: center;
  padding-top: 15px; }

h3 {
  color: #787878; }

footer a {
  color: #ffffff; }

h4 {
  background-color: #091f37;
  color: #ffffff; }

/*# sourceMappingURL=style.css.map */
