body {
  background-color: $mirage;
  font-family: "Arial", "Sans-serif";
}

.container {
  width: 960px;
  background-color: $blue-zodiac;
  margin: 0 auto;
}

header {
  position: relative;
}

h3 {
  color: $meteor;
  margin-left: 20px;
  margin-bottom: 5px;
}

h4 {
  margin-top: 10px;
}
