  .header {
      position: relative;
      background-color: $blue-zodiac;
      height: 55px;
      /*===============================
=            Top Nav            =
===============================*/
      .mainbhs-logo {
          position: absolute;
          z-index: 2;
      }
      .top-nav {
          position: absolute;
          top: 15px;
          left: 125px;
          font-size: 14px;
      }
      .top-nav li {
          display: inline;
          padding-left: 3px;
      }
      .top-nav li::before {
          content: "|";
          padding-right: 5px;
          padding-left: 5px;
      }
      .top-nav li:first-child:before {
          content: " "
      }
      .top-nav a {
          text-decoration: none;
          color: $white;
      }
      .facebook-btn {
          // position: absolute;
          // top: 12px;
          // left: 400px;
      }
      .search-container {
          // position: absolute;
          top: 9px;
          // bottom: 15px;
          // left: 545px;
      }
      .donate-btn {
          // position: absolute;
          // top: 12px;
          // left: 515px;
      }
  }
  
  .btn-primary {
      color: #fff;
      background: $blue-pearl;
      background: -webkit-linear-gradient(to bottom, $nuka-quantum, $blue-pearl);
      background: linear-gradient(to bottom, $nuka-quantum, $blue-pearl);
  }
  
  .btn-warning {
      color: #fff;
      background: $meteor;
      background: -webkit-linear-gradient(to bottom, $nuka-orange, $meteor);
      background: linear-gradient(to bottom, $nuka-orange, $meteor);
  }
