.header {
  position: relative;
  /*===============================
=            Top Nav            =
===============================*/
  .top-nav {
    position: absolute;
    top: 15px;
    left: 100px;
    font-size: 14px;
  }
  .top-nav li {
    display: inline;
    padding-left: 3px;
  }
  .top-nav li::before {
    content: "|";
    padding-right: 5px;
    padding-left: 5px;
  }
  .top-nav li:first-child:before {
    content: " "
  }
  .top-nav a {
    text-decoration: none;
    color: $white;
  }
}
