.nav {
  position: relative;
  .navi-bar {
    position: absolute;
    background-color: $dove-gray;
    top: 65px;
    width: 960px;
    height: 90px;
    z-index: 1px;
  }
  .nav-bar {
    background-color: $silver;
    position: relative;
    display: block;
    padding: 10px;
    top: 9px;
    padding-left: 150px;
    font-size: 16px;
  }
  .nav-bar li {
    text-align: center;
    display: inline;
    padding: 14px 16px;
    text-decoration: none;
  }
  .nav-bar li::before {
    content: "|";
    padding-right: 5px;
  }
  .nav-bar li a:hover {
    background-color: #111;
  }
}

.side-nav {
  position: relative;
  width: 325px;
  height: 525px;
  top: 155px;
  background-color: $white;
  padding: 15px;
}

.involved-box {
  position: relative;
  background-color: $white;
  width: 162px;
  height: 400px;
  padding: 15px;
}
