.side-nav {
    // position: relative;
    // width: 325px;
    // height: 525px;
    // top: 155px;
    background-color: $white;
    // padding: 15px;
}

.involved-box {
    // position: relative;
    // background-color: $white;
    // width: 162px;
    // height: 400px;
    // padding: 15px;
}

.get-inv-header {
    color: $meteor;
}

.gi-box {
    background-color: $dove-gray;
}

.ss-box {
    background-color: $dove-gray;
}
