.side-nav {
    // position: relative;
    // width: 325px;
    // height: 525px;
    // top: 155px;
    background-color: $white;
    // padding: 15px;
}

.involved-box {
    // position: relative;
    // background-color: $white;
    // width: 162px;
    // height: 400px;
    // padding: 15px;
}

.get-inv-header {
    color: $meteor;
}

.gi-box {
    background: $atomic-tin;
    padding: 10px;
    margin: 10px;
    border: 1px solid $dove-gray;
    img {
        float: left;
        // width: 50%;
    }
    p {
        font-size: .7rem;
        float: right;
        width: 60%;
    }
    //     a.box-link:before {
    //     clear: both;
    //     content: " ";
    //     display: block;
    // }
}

.ss-box {
    background: $atomic-tin;
    padding: 10px;
    margin: 10px;
    border: 1px solid $dove-gray;
    img {
        float: left;
        // width: 50%;
    }
    p {
        font-size: .7rem;
        float: right;
        width: 60%;
    }
    //     a.box-link:before {
    //     clear: both;
    //     content: " ";
    //     display: block;
    // }
}
