$meteor: #d4740d;
$boulder: #787878;
$blue-zodiac: #0c2745;
$dove-gray: #666666;
$black-pearl: #091f37;
$white: #ffffff;
$silver: #e1e0e0;
// Styles.scss Variables
$dove-gray: #666666;
$alabaster: #fbfbfb;
$meteor: #d4740d;
$boulder: #787878;
$blue-zodiac: #0c2745;
$black-pearl: #091f37;
$white: #ffffff;
$silver: #e1e0e0;
$alabaster: #fbfbfb;
$dove-gray: #666666;
